// components/forms/textarea

textarea {
    border: 2px solid $black;
    min-height: 10rem;
    width: 100%;
    padding: 0.7rem 1rem;
    position: relative;
}

label.label--textarea + textarea {

}

textarea::placeholder {
  background: $white;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

label.label--textarea {
  position: absolute;
  top: 0;
  left: 0;
  background: $white;
  z-index: 1;

  + textarea {
    padding-top: 2rem;
  }
}
