.alert {
    color: $white;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;

    // @include bp-md {
    //     padding: 2rem;
    // };

    p, ul {
        margin-bottom: 0;
    }

    a {
        color: $white;
        border-bottom: 1px solid $white;
    }
}

.alert--danger, .alert-danger, .alert--success, .alert-success {
    @extend %header-font;
    @include font-size(30px);
    @include lt-bp-md {
      @include font-size(24px);
    };
    padding: 0;
}

.alert--danger, .alert-danger {
  color: $red;
}


.alert--success, .alert-success {
    color: $green;
}
