// for typographic styles specific to this project.

@mixin underline($color) {
  background-image: url('../../../img/underline-#{$color}.svg');
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 100% 6px;
}

@mixin stroke($width: 105px) {
    content: "";
    width: $width;
    height: 8px;
    background-image: url('../../../img/line.svg');
    background-size: 100% 100%;
}

%small-caps, .small-caps {
  font-family: $body-font-family;
    @extend %text-uppercase;
    @include font-size(15px);
    letter-spacing: 0.1em;
    font-weight: 700;
}