// components/picture/picutre

picture {
    display: block;

    img {
        display: block;
    }
}

img {
    max-width: 100%;
    height: auto;
    &.alignleft {
        float: left;
        margin-right: 2rem;
    }
    &.alignright {
        float: right;
        margin-left: 2rem;
    }
}