.lazyload__container {
  overflow: hidden;
  width: 100%;
}

.lazyload__container picture {
  position: relative;
}

.lazyload__container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

img.lazyload {
  filter: blur(20px);
}

img.lazyloaded {
  filter: blur(0);
}
