.content-block {
  position: relative;
  // z-index: 3;
  margin: 3rem 0;
  @include bp-md {
    // margin: 5rem 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.banner + .content-block--text-map {
  margin-top: 0;
}

.banner--style-2 + .content-block,
.banner--style-2 + .overlay + .content-block {
  margin-top: 0;
}

.content-block__link {
  margin-top: 1rem;
}

.content-block__content {
  max-width: 100%;
}


@import 'products';
@import 'latest-news';
@import 'annotated-image';
@import 'hero';
@import 'feature-intro';
@import 'featured-text';
@import 'instagram';
@import 'talk-to-us';
@import 'video';
@import 'full-width';
