.content-block--hero {
  position: relative;
  overflow: hidden;
  @include bp-md {
    padding-bottom: ( 1500 / 1920 ) * 100%;
  }

  @include bp-lg {
    padding-bottom: ( 1320 / 1920 ) * 100%;
  }

  .lazyload__container {
    overflow: visible;
    picture {
      @include bp-md {
        transform: translate3d(0,-10%,0);
      };
      @include bp-xl {
        transform: translate3d(0,-20%,0);
      };
    }
  }

  .content-block__content {
    margin: 3rem 0;
    @include bp-md {
      padding-top: 5rem;
    }
    @include bp-lg {
      padding-top: 6rem;
    }
  }

}

.hero__text {
  position: relative;
  @include bp-md {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.hero__image {
  // background-color: $gold;
  // background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  @include lt-bp-md {
    .lazyload__container {
      height: 100%;
    }

    picture {
      padding-bottom: 0;
      height: 100%;
    }
  };

  picture {
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($black, 0.1);
    }
  }
}

.hero__text {
  @extend %flex;
  @extend %flex-column;
  @extend %flex-center;
  color: $white !important;
  z-index: 2;

  h1, h2, h3, h4, h5 {
    color: $white !important;
  }
  .button, .button--white, .button--white:after {
    color: $white !important;
  }
}

.hero--text-black {
  .hero__text, .hero__text h2, .button, .button--white, .button--white:after {
    color: $black !important;
  }
}



.hero--style-1 {

  @include lt-bp-md {
    .hero__text {
      &:before {
        @include curve-top-left('../../../img/mobile-edge-1.svg', 100, 306, 25.15);
        transform: rotate(180deg);
        position: relative;
      }
      &:after {
        @include curve-bottom-right('../../../img/mobile-edge-2.svg', 100, 306, 19.16);
        position: relative;
      }
    }
  }

  @include bp-md {
    // .hero__image {
      &:before {
        @include curve-top-left('../../../img/hero-style-1-top.svg', 100, 1600, 783.93);
      }
      &:after {
        @include curve-bottom-right('../../../img/hero-style-1-bottom.svg', 100, 1600, 140.4);
      }
    // }
  }

}

.hero--style-2 {

  @include lt-bp-md {
    .hero__text {
      &:before {
        @include curve-top-left('../../../img/mobile-edge-3.svg', 100, 306, 23.22);
        transform: rotate(180deg);
        position: relative;
      }
      &:after {
        @include curve-bottom-right('../../../img/mobile-edge-4.svg', 100, 306, 30.56);
        position: relative;
      }
    }
  }

  @include bp-md {
    // .hero__image {
      &:before {
        @include curve-top-left('../../../img/hero-style-2-top.svg', 100, 1600,786.94);
        z-index: 2;
      }
      &:after {
        @include curve-bottom-right('../../../img/hero-style-2-bottom.svg', 100, 1600, 146.4);
        z-index: 2;
      }
    // }
  }

}
